#/origin_data/
/.vscode/
**/__pycache__
**/data
**/checkpoints
**/release
**/results
*.ipynb
**/images
**/Embed_used
*.npy
*.npz
*.hdf5
*.zip
**/pretrained_models
**/origin_data/add_files
**/pretrain_models
**/saved_models
/cavmae/
*.bin
*.gz
**/TransAE
**/TransE
**/generative-models
**/origin_data/DB15K-ZS_sub
**/origin_data/FB15K-237-ZS_sub